CompileFlags:
  Add:
    - -I/home/malum/undergraduate-thesis/include
    - -I/home/malum/undergraduate-thesis/config
    - -I/home/malum/undergraduate-thesis/libs/include
    - -I/home/malum/undergraduate-thesis/src
