CompileFlags:
  Add:
    - -I/home/davi/coding/undergraduate-thesis/include
    - -I/home/davi/coding/undergraduate-thesis/config
    - -I/home/davi/coding/undergraduate-thesis/libs/include
    - -I/home/davi/coding/undergraduate-thesis/src
